<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/stylesheets.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This page has been created by Nandini</p>
            <img class="portrait" src="/img/IMG-20200613-WA0013.jpg">
        </div>

        {{>footer}}
    </body>
</html>